<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>773429266888-33reln3lu0ftt0debga2rm671dg5opfp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.773429266888-33reln3lu0ftt0debga2rm671dg5opfp</string>
	<key>API_KEY</key>
	<string>AIzaSyB7WtGnebS8RpVUyS0n6TG9BD-4hIZmLb0</string>
	<key>GCM_SENDER_ID</key>
	<string>773429266888</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ubicompteam5.bitters</string>
	<key>PROJECT_ID</key>
	<string>bitters-96abe</string>
	<key>STORAGE_BUCKET</key>
	<string>bitters-96abe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:773429266888:ios:4d7ff908c849cec7</string>
	<key>DATABASE_URL</key>
	<string>https://bitters-96abe.firebaseio.com</string>
</dict>
</plist>